{# <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('main') }}">Mia&Evan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Choisis ton Memory
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/memory/8">Blaze et Les Monster Machines</a>
          <a class="dropdown-item" href="/memory/9">Les Princesses Disney</a>
          <a class="dropdown-item" href="/memory/10">La Reine des Neiges</a>
          <a class="dropdown-item" href="/memory/11">La Maison de Mickey</a>
          <a class="dropdown-item" href="/memory/12">Pat'Patrouille</a>
          <a class="dropdown-item" href="/memory/13">Peppa Pig</a>
        </div>
      </li>
    </ul>
  </div>
</nav> #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('main') }}">Mia & Evan</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/memory/8">Blaze et les Monster Machines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/memory/9">Les Princesses Disney</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/memory/10">La Reine des Neiges</a>
      </li> <li class="nav-item">
        <a class="nav-link" href="/memory/11">La Maison de Mickey</a>
      </li> <li class="nav-item">
        <a class="nav-link" href="/memory/12">Pat'Patrouille</a>
      </li> <li class="nav-item">
        <a class="nav-link" href="/memory/13">Peppa Pig</a>
      </li>
    </ul>
   
  </div>
</nav>